<footer class="footer">
  <div class="container">
    <nav class="footer__menu">
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <p class="footer__menu-title">Products</p>
        </li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">Used</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">New</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">Sell your car</a></li>
      </ul>
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <p class="footer__menu-title">Resources</p>
        </li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">Blog</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">FAQ</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">Contact us</a></li>
      </ul>
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <p class="footer__menu-title">Work With TrueCar</p>
        </li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">Dealers</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">Partners</a></li>
      </ul>
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <p class="footer__menu-title">About</p>
        </li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">About us</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">Team</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link" href="404.html">Careers</a></li>
      </ul>
    </nav>
    <ul class="app">
      <li class="app__item"><a class="app__item-link" href="404.html"><img src="images/apple.svg" alt="apple"><img
            src="images/appstore.svg" alt="app store"></a>
      </li>
      <li class="app__item"><a class="app__item-link" href="404.html"><img src="images/google.svg" alt="google"><img
            src="images/googleplay.svg" alt="google play"></a></li>
    </ul>
    <div class="footer__copy">
      <p class="footer__copy-text">For questions about the TrueCar Auto Buying Service please call
        1-888-878-3227.<br>Certified Dealers are contractually obligated by TrueCar to meet certain customer service
        requirements and
        complete the TrueCar Dealer Certification Program.<br>TrueCar does not broker, sell, or lease motor vehicles.
        Unless otherwise noted, all vehicles shown on this
        website are offered for sale by licensed motor vehicle dealers. All vehicles are subject to prior sale. By
        accessing this website, you agree to the TrueCar Terms of Service and Privacy Policy.</p>
    </div>
    <nav class="copy__nav">
      <ul class="copy__nav-list">
        <li class="copy__nav-item"><a class="copy_nav-link" href="404.html">Terms of Service</a></li>
        <li class="copy__nav-item"><a class="copy_nav-link" href="404.html">Privacy Policy</a></li>
        <li class="copy__nav-item"><a class="copy_nav-link" href="404.html">Do Not Sell My Personal Information</a></li>
      </ul>
    </nav>
  </div>
</footer>

</body>

</html>