<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lease Cars</title>
  <link href="css/style.min.css" rel="stylesheet">
  <script src="js/main.min.js" defer></script>
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <a class="logo" href="index.html">
          <img class="logo__img" src="images/logo.svg" alt="logo">
        </a>
        <nav class="menu">
          <button class="menu__btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-link" href="new-cars.html">NEW CARS</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="404.html">PRE-OWNED CARS</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="404.html">FINANCE</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="404.html">LEASE VS BUY</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="contacts.html">CONTACT US</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>