@import "swiper";
@import "normalize";
@import "reset";
@import 'fonts';
@import "vars";


:root {
  --accent-color: #70b018;
}

body {
  @extend %opensans-400;
  font-size: 18px;
}

.container {
  max-width: 1230px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  @extend %opensans-600;

  &__inner {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
}

.logo {
  font-size: 22px;
  line-height: 10px;
  cursor: pointer;
  padding-right: 30px;
  border-bottom: 8px solid var(--accent-color);
}

.menu {
  margin: 0 auto;

  &__list {
    display: flex;
    gap: 15px;
  }

  &__list-link {
    display: block;
    line-height: 40px;
    padding: 0 15px;
    cursor: pointer;
    transition: background-color .3s;
  }

  &__list-link:hover {
    background-color: var(--accent-color);
  }
}

.menu-btn {
  border: none;
  background-color: transparent;
  display: none;
  padding: 10px;

  & img {
    width: 40px;
    height: 15px;
  }
}

.featured {
  background-image: url('../images/blur.png');
  overflow: hidden;
  margin-bottom: 50px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

.featured-left {
  width: 790px;
  margin: auto 0;
  padding-bottom: 140px;

  &__title {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 60px;
    @extend %opensans-800;
    letter-spacing: 1.2px;
    width: 70%;
    margin-bottom: 30px;
  }

  &__text {
    width: 50%;
    margin-bottom: 30px;
  }

  &__girl {
    position: absolute;
    top: 50px;
    left: 320px;
    z-index: 5;
  }
}

.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 14px 40px;
  background-color: var(--accent-color);
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  @extend %opensans-500;
  transition: background-color .5s;

  &:hover {
    background-color: $black;
  }
}

.featured-right {
  width: 420px;

  &__quote {
    padding: 40px;
    @extend %opensans-400Italic;
    line-height: 28px;
    border: 2px $white solid;
    border-radius: 32px;
    background-color: rgba($color: $white, $alpha: .6);
    position: relative;
    z-index: 6;
  }

  &__quote::before {
    content: url('../images/quote-icon.svg');
    position: absolute;
    top: 0;
  }

  &__video {
    padding-left: 110px;
    position: relative;
    z-index: 4;
  }

  &__video-inner {
    display: inline-block;
    position: relative;
    margin-left: -40px;
    z-index: 6;
  }

  &__video-inner video {
    display: block;
  }

  &__video::before {
    content: "";
    background-color: var(--accent-color);
    position: absolute;
    top: 90px;
    left: -140px;
    height: 650px;
    width: 816px;
  }

  /*overlay для видео*/
  &__video-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: rgba($color: $black, $alpha: .5);
    cursor: pointer;
    transition: all .2s;
  }

  &__video-overlay--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &__video-overlay::before {
    content: '';
    width: 90px;
    height: 90px;
    border: 3px solid $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__video-overlay::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px solid transparent;
    border-left-color: $white;
    margin-left: 12px;
  }

  &__title {
    @extend %opensans-700;
    font-size: 24px;
    line-height: 34px;
    padding: 20px 0;
    position: relative;
  }

  &__video p {
    line-height: 28px;
    position: relative;
  }
}

.featured-bottom {
  flex: 0 0 auto;
  margin-bottom: 50px;

  .featured-bottom__numbers {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-top: -100px;
    background-color: rgba($color: $white, $alpha: .6);
    border: solid 1px $white;
    box-shadow: 1px 6px 38px 6px rgba($color: $black, $alpha: 0.06);
    position: relative;
    z-index: 6;
  }

  &__numbers li {
    text-align: center;
    position: relative;
    width: 150px;
  }

  &__numbers li + li::before {
    content: "";
    position: absolute;
    background-color: $grey;
    width: 2px;
    height: 100%;
    top: 0;
    left: -35px;
  }

  &__number {
    @extend %opensans-700;
    font-size: 60px;
    line-height: 39px;
    padding-bottom: 20px;
    color: var(--accent-color);
  }

  &__text {
    margin: 0 auto;
  }
}

.about {
  margin-bottom: 100px;

  &__inner {
    display: flex;
    align-items: center;
  }
}

.photo-section,
.about-info {
  flex: 0 0 auto;
  width: 50%;
  position: relative;
}

.photo-section {
  height: 510px;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    height: 420px;
    width: 450px;
    top: 50px;
    left: 30px;
  }

  & img {
    position: absolute;
    z-index: 2;
  }

  &__one {
    border-right: 15px solid $white;
    border-bottom: 15px solid $white;
    width: 160px;
    height: 160px;
  }

  &__two {
    width: 230px;
    height: 230px;
    right: 40px;
  }

  &__three {
    border-right: 15px solid $white;
    border-top: 15px solid $white;
    width: 280px;
    height: 280px;
    bottom: 0;
  }
}

.about-info {
  & h2 {
    width: 90%;
    font-size: 34px;
    line-height: 44px;
    @extend %opensans-800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: 35px solid $white;
    background-color: $white;
    position: absolute;
    top: -60px;
    left: -63px;
    z-index: 3;
  }

  & p {
    line-height: 28px;
    padding: 100px 0 40px 70px;
    z-index: 4;
  }

  & a {
    margin-left: 70px;
  }
}

.benefit {
  margin-bottom: 100px;

  &__title {
    font-size: 34px;
    line-height: 44px;
    @extend %opensans-800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
    width: 60%;
    margin: 0 auto 40px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  width: 25%;
  height: 320px;
  padding: 25px;
  box-shadow: 2px 31px 61px -14px rgb(0 0 0 / 14%);

  &__title {
    font-size: 22px;
    @extend %opensans-700;
    letter-spacing: 2.5px;
  }

  &__title a {
    margin-left: -38px;
    margin-bottom: 40px;
    padding: 10px;
    border-right: solid 1px var(--accent-color);
    border-bottom: solid 1px var(--accent-color);
    display: block;
    background-color: $white;
    transition: all .5s;
    cursor: pointer;
  }

  &__title a:hover {
    background-color: $black;
    color: $white;
  }

  & p {
    @extend %opensans-300;
  }
}

.my-program {
  background-image: url('../images/blur-my-program.png');

  &__inner {
    display: flex;
  }
}

.program-left {
  width: 30%;
  padding: 0 12px;
}

.program-centre {
  width: 40%;
  padding: 0 12px;
  text-align: center;

  & img {
    display: inline-block;
  }
}

.program-right {
  width: 30%;
  padding: 0 12px;
}

.program {
  &__title h2 {
    font-size: 34px;
    line-height: 44px;
    @extend %opensans-800;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
  }

  &__title a {
    margin-bottom: 40px;
  }

  &__item {
    border: 2px solid white;
    box-shadow: 2px 31px 61px -14px rgb(0 0 0 / 14%);
    padding: 15px;
    margin-bottom: 50px;
  }

  &__item p {
    font-size: 16px;
    line-height: 28px;
  }
}

.program-icon {
  font-size: 24px;
  line-height: 34px;
  @extend %opensans-500;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 20px;

  & img {
    padding: 5px;
  }
}

.calculator {
  background-color: $black;
  padding-top: 100px;
  margin-bottom: 100px;

  &__inner {
    display: flex;
  }

  &__photo {
    width: 50%;
    height: 745px;
    position: relative;
    background-color: var(--accent-color);
  }

  &__photo img {
    max-width: none;
    margin-left: auto;
  }

  &__bmi {
    width: 50%;
    padding: 40px;
    background-color: $white;
    z-index: 1;
  }

  &__bmi p {
    line-height: 28px;
  }

  &__title {
    font-size: 34px;
    line-height: 44px;
    @extend %opensans-800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    gap: 10px;
  }
}

.calc-bmi {
  width: 60%;
  margin-top: 20px;
  padding-right: 10px;

  &__tabs {
    display: flex;
    margin-bottom: 20px;
  }

  &__tab {
    width: 50%;
  }

  &__radio {
    display: none;
  }

  &__radio:checked + .calc-bmi__span {
    background-color: var(--accent-color);

    &:hover {
      background-color: #deff4b;
    }
  }

  &__span {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px;
    border: solid 1px var(--accent-color);
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #deff4b;
    }
  }

  &__input {
    font-size: 18px;
    outline: none;
    border: solid 1px #c7c7c7;
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
  }

  &__input:active,
  .calc-bmi__input:focus {
    border-color: #999;
  }

  &__input::placeholder {
    color: #c7c7c7;
    opacity: 1;
  }

  &__select {
    font-size: 18px;
    outline: none;
    border: solid 1px #c7c7c7;
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 35px 15px 15px;
    appearance: none;
    cursor: pointer;
    position: relative;
  }

  &__select::-ms-expand {
    /* appearance for IE */
    display: none;
  }

  &__options {
    position: relative;
  }

  &__options::after {
    content: "";
    right: 8%;
    top: 42%;
    height: 12px;
    width: 12px;
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    display: block;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
  }

  &__select:active,
  .calc-bmi__select:focus {
    border-color: #999;
  }

  &__btn {
    @extend %opensans-500;
    text-transform: uppercase;
    color: $white;
    width: 100%;
    background-color: $black;
    border: none;
    padding: 14px 40px;
    cursor: pointer;
    transition: background-color .5s;

    &:hover {
      background-color: var(--accent-color);
    }
  }
}

.result {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 1px solid #f2f2f2;
  padding: 0 10px;
  margin-top: 20px;

  & p {
    font-size: 16px;
    line-height: 28px;
    color: #c7c7c7;
  }
}


.blog {
  background-image: url(../images/blur-blog.png);
  padding-bottom: 100px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; ошибка не поддерживает IE*/
    gap: 20px;
  }

  &__heading p {
    color: $grey;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 34px;
    line-height: 44px;
    @extend %opensans-800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 30px;


  }
}

.post {
  display: flex;
  gap: 10px;
  border: solid 1px $white;
  padding: 25px;
  margin-bottom: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__meta {
    display: inline-block;
    font-size: 14px;
    color: $white;
    background-color: $black;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-right: auto;
  }

  &__meta + &__meta {
    margin-left: 5px;
  }

  &__title {
    @extend %opensans-700;
    line-height: 28px;
    color: $grey;
    margin-bottom: 25px;
  }

  &__next {
    @extend %opensans-500;
    margin-left: 0;
    margin-bottom: 20px;
    transition: margin-left .5s;
  }

  &__next::after {
    content: url('../images/arrow-right.svg');
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }

  &__next:hover {
    margin-left: 10px;
  }

  &__date {
    font-size: 12px;
    @extend %opensans-500;
    color: #c7c7c7;
  }

  &__date::before {
    content: url('../images/calendar.svg');
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
  }

  figure {
    overflow: hidden;
    margin-bottom: 10px;
  }

  figure img {
    max-width: none;
    transition: transform .5s;
  }

  figure img:hover {
    transform: scale(1.1);

  }
}

.feedback {
  margin-top: 50px;
  margin-bottom: 100px;
  margin: 50px auto 100px;

  &__title {
    font-size: 34px;
    line-height: 44px;
    @extend %opensans-800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

  &__desc {
    line-height: 28px;
    color: $grey;
    width: 60%;
    text-align: center;
    margin: 0 auto 40px;
  }
}

.slide {
  display: flex;
  align-items: center;
  gap: 40px;
  box-shadow: -1px 3px 19px -6px rgb(0 0 0 / 10%);

  &__quote {
    @extend %opensans-400Italic;
    line-height: 28px;
    color: $grey;
    padding-top: 37px;
    padding-bottom: 18px;
    position: relative;
  }

  &__quote::before {
    content: url("../images/quote-icon-slide.svg");
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &__person {
    display: flex;
    align-items: center;
    border-top: solid 1px #f2f2f2;
    padding: 15px 0;
  }

  &__person img {
    border-radius: 50px;
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin-right: 30px;
  }
}

.person-info {
  & h5 {
    font-size: 18px;
    @extend %opensans-500;
    margin-bottom: 10px;
  }

  & p {
    font-size: 16px;
    color: $grey;
  }
}

.swiper-wrapper {
  align-items: center;
}

.swiper-pagination {
  padding-top: 20px;
  position: static;
}

.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}


.swiper-button-prev,
.swiper-button-next {
  color: #c7c7c7;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 23%;
  background-color: rgba($color: $white, $alpha: 0.6);
  transition: color .5s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--accent-color);
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.ready {
  margin-bottom: 50px;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 75px;
  }

  &__img {
    width: 50%;
    background-color: var(--accent-color);
    margin: 100px 0;
  }

  &__img img {
    margin: -100px auto;
  }

  &__content {
    width: 50%;
  }

  &__content h2 {
    font-size: 34px;
    line-height: 44px;
    @extend %opensans-800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__content p {
    line-height: 28px;
    color: $grey;
    margin-bottom: 30px;
  }

  &__content h6 {
    font-size: 18px;
    @extend %opensans-700;
    margin-bottom: 40px;
  }
}

.footer {
  background-color: $black;
  color: $white;
}

.footer-title {
  padding: 100px 0;
  border-bottom: solid 1px $grey;
  text-align: center;

  & h3 {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  & p {
    font-size: 16px;
    line-height: 28px;
    width: 70%;
    margin: 0 auto 30px;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__form input {
    width: 320px;
    margin-right: 40px;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: $white;
    padding: 15px;
    cursor: pointer;
  }

  &__form input::placeholder {
    color: $black;
    opacity: .6;
  }

  & button {
    @extend %opensans-500;
    text-transform: uppercase;
    color: $white;
    background-color: var(--accent-color);
    border: solid 1px var(--accent-color);
    padding: 14px 40px;
    cursor: pointer;
    transition: background-color .5s;
  }

  & button:hover {
    background-color: $black;
  }

  &__checkbox {
    display: none;
  }

  &__span {
    display: inline-block;
    font-size: 15px;
    width: 80%;
    margin-top: 15px;
    cursor: pointer;
  }

  &__checkbox + .footer-title__span::before {
    content: "\2714";
    border: 0.1em solid white;
    border-radius: 4px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    vertical-align: sub;
    color: transparent;
    transition: color .2s;
  }

  &__checkbox:checked + .footer-title__span::before {
    border: none;
    color: var(--accent-color);
    vertical-align: top;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $black, $alpha: 0.7);
  overflow: auto;

  & p {
    width: 100%;
  }

  & button {
    margin-right: 20px;
  }
}

.modal-content {
  background-color: rgba($color: $black, $alpha: 0.9);
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  text-align: center;
  overflow-y: auto;
}

.modal-open {
  overflow: hidden;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px 0 65px;
  border-bottom: solid 1px $grey;

  &__row-1 .logo {
    margin-right: auto;
    color: $white;
  }

  &__row-1 p {
    line-height: 28px;
    width: 90%;
    padding: 35px 0;
  }
}

.social-icons {
  display: flex;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 20px;
    transition: border-color .3s;
    cursor: pointer;
  }

  & svg {
    height: 18px;
    width: 18px;

    path {
      fill: $white;
      transition: fill .3s;

    }
  }

  & a:hover {
    border-color: var(--accent-color);

    path {
      fill: var(--accent-color);
    }
  }
}

.footer-menu__row-2 h5,
.footer-menu__row-3 h5 {
  font-size: 18px;
  line-height: 28px;
  color: $grey;
  @extend %opensans-400;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.footer-menu__list {
  display: flex;
  flex-wrap: wrap;

  & li {
    display: block;
    width: 50%;
    margin-bottom: 35px;
  }

  & a {
    line-height: 28px;
    color: $white;
    transition: color .3s;
    cursor: pointer;
  }

  & a:hover {
    color: var(--accent-color);
  }
}

.footer-menu__contacts {
  line-height: 28px;

  & li {
    line-height: 28px;
    margin-bottom: 35px;
  }

  & .address svg,
  & .phone svg,
  & .email svg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--accent-color);
    margin-right: 20px;
    padding: 5px;
  }
}

.footer-rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 28px;
  color: $grey;
  padding: 40px 0;

  &__privacy {
    display: flex;
  }

  & a {
    margin-left: 40px;
    cursor: pointer;
  }
}

@import "about";
@import "blog";
@import "blog-1";
@import "404";

@import "media";